/* (A) GLOBAL */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  padding: 0; margin: 0;
}

/* (B) SIDEBAR */
/* (B1) SIDEBAR ITSELF */
#pgside {
  width: 200px;
  transition: width 0.2s;
  background: #283039;
}

/* (B2) USER OR BRANDING */
#pgside #pguser {
  display: flex;
  align-items: center;
  padding: 10px 5px;
}
#pgside #pguser img {
  width: 100px;
  margin-left: 20px;
}

/* (B3) SIDEBAR ITEMS */
#pgside, #pgside a { color: #fff; }
#pgside a {
  display: block;
  padding: 20px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}
#pgside a.current { background: #7c1919; }
#pgside a:hover { background: #9b2323; }

/* (B4) SIDEBAR ICONS & TEXT */
#pgside i.ico, #pgside i.txt { font-style: normal; }
#pgside i.ico {
  font-size: 1.1em;
  margin-right: 10px;
}

/* (B5) SMALL SCREEN TRANSFORMATION */
@media screen and (max-width:768px) {
  #pgside { width: 70px; }
  #pgside #pguser { justify-content: center; }
  #pgside a {
    text-align: center;
    padding: 20px 0;
  }
  #pgside i.ico {
    font-size: 1.5em;
    margin-right: 0;
  }
  #pgside i.txt { display: none; }
}

/* (C) MAIN CONTENTS */
#pgmain {
  flex-grow: 1;
  padding: 20px;
  padding-top: 10px;
  background: #f2f2f2;
}

/* (A) FORM */
.form {
  max-width: 600px; /* optional */
  padding: 20px;
  border: 1px solid #eee;
  background: #f2f2f2;
}
/* (B) FIELDS & LABELS */
.form label, .form input, .form textarea, .form select, .form button {
  display: block;
  width: 100%;
}
.form label { padding: 10px 0; }
.form input, .form textarea, .form select { padding: 10px; }

/* (C) BUTTONS */
input[type=button], input[type=submit], button {
  font-size: 1em;
  font-weight: 700;
  padding: 5px;
  border: 0;
  color: #fff;
  background: #870000;
  cursor: pointer;
}

table {
  margin-top:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-spacing: 1px;
  background-color: rgba(201,201,201,1); /*边线颜色*/
  border-collapse: separate;
  width: 100%;
}

table td {
  height: 25px;
  border: 0px solid #ddd;
  background-color: #fff;
  padding: 3px;
}

table th{
  padding: 3px;
  text-align: left;
  background-color: #d9d9d9;
  color: black;
}

table a:link
{
  text-decoration: none;
  color: blue
}

table a:active
{
  text-decoration:blink
}

table a:hover
{
  text-decoration:underline;
  color: red
}

table a:visited
{
  text-decoration: none;
  color: blue
}
table tr:hover td
{
  background:none;
}
table tr:hover
{
  background-color: #ddd;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* 定位 */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* 提示信息 */
.info
{
  background-color:yellow;
  font-weight:bold
}